@model HNTAS.Web.UI.Models.UserModel

@{
    ViewData["Title"] = "Contact Details";
}

<div class="govuk-width-container">
    <form asp-controller="User" asp-action="ContactDetails" method="post" novalidate>
        <div class="govuk-form-group">
            <p class="govuk-body">Contact Details Page to be added.</p>
        </div>
    </form>
</div>