@model HNTAS.Web.UI.Models.Address.What3wordsUrlModel

@{
    ViewData["Title"] = "Enter your what3words url";
    var fieldOrder = new[] { nameof(Model.what3wordsUrl) };
}


<div class="govuk-width-container">
    <form asp-controller="HeatNetwork" asp-action="EnterWhat3wordsUrl" method="post" class="govuk-form-group">
        @Html.AntiForgeryToken()
        <h1 class="govuk-heading-l">Enter your address (no postcode)</h1>

        @await Html.PartialAsync("_ErrorSummary", fieldOrder)

        <div class="govuk-form-group @(ViewData.ModelState["what3wordsUrl"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
            <p class="govuk-body">To provide the exact location of your heat network, please go to <strong> https://what3words.com/</strong> and enter your geo coordinates there. It will generate a unique url. Please copy that and paste it here.</p>
            <label class="govuk-label" for="Address">
                Enter the url
            </label>
            @if (ViewData.ModelState["what3wordsUrl"]?.Errors.Count > 0)
            {
                <span asp-validation-for="what3wordsUrl" class="govuk-error-message"></span>
            }
            <input class="govuk-input" asp-for="what3wordsUrl" autocomplete="off" />

        </div><br />

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Submit
        </button>
    </form>
</div>