@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Guidance";
}

<div class="govuk-width-container">
    <form asp-action="" asp-controller="" method="" novalidate>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Comply with Heat Network Regulations</h1>
                <p class="govuk-body">Use this service to :</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>check if your heat network is compliant with the Heat Network (Metering and Billing) Regulations</li>
                    <li>find out what you need to do to comply</li>
                    <li>report your compliance to the regulator</li>
                </ul>
                <h2 class="govuk-heading-l">Who this service is for</h2>
                <p class="govuk-body">You must register if your organisation undertakes regulatory activities on a heat network, for instance building a new one.</p>
            </div>
        </div>
    </form>
</div>