<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your options</h1>

        <p class="govuk-body">You now have 3 options.</p>

        <ol class="govuk-list app-options-list">
            <li>
                <h2 class="govuk-heading-m">1. Set up a new organisation to use the heat network service</h2>
                <p class="govuk-body">If you are your organisation's regulatory contact for heat networks, you can continue and enable it for the heat network service.</p>
                <p class="govuk-body app-help-link"><a class="govuk-link" href="#">&#9658; Help with 'regulatory contact'</a></p>
                <div class="app-button-wrapper">
                    <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Continue
                    </a>
                </div>
            </li>

            <li>
                <h2 class="govuk-heading-m">2. Access an organisation that's already set up to use the heat network service</h2>
                <p class="govuk-body">You cannot do this now. First, you'll need to ask your organisation's regulatory contact for heat networks to invite you.</p>
            </li>

            <li>
                <h2 class="govuk-heading-m">3. Close your browser and log off</h2>
                <p class="govuk-body">If you were invited to join the service and rejected the invitation, it's likely you've nothing more to do. You can leave the service.</p>
            </li>
        </ol>
    </div>
</div>